:root{
    --primary-color: rgb(89, 86, 233);
    --second-color: rgb(117, 114, 255);
    --text-primary-color: rgba(35, 34, 51, 1);
    --text-second-color:rgba(108, 108, 114, 1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 62.5%; /* 1rem = 10px */
}

body{
    background-color: var(--primary-color);
}

#float-nav{
    display: flex;
    gap: 40rem;
    justify-content: center;
    margin-top: 2rem
}

#contact{
    display: flex;
    align-items: center;
    gap: 1.8rem;
    font-size: 1.6rem;
    color: white;
}

#networks{
    display: flex;
    gap: 3.0rem;
}

#navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 5rem;
    width: 81rem;
    font-size: 2.0rem;
    border-radius: 0.5rem;
    margin-top: 1.8rem;
    gap: 2rem;
}

#navigation span{
    font-weight: 600;
    color: var(--text-primary-color);
    cursor: pointer;
}

#navigation button{
    border: none;
    background-color: var(--primary-color);
    color: white;
    height: 4rem;
    width: 10rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#navigation-display{
    display: flex;
    justify-content: center;
}

#navigation span:hover{
    color: var(--primary-color);
    text-decoration: underline;
}

#display-content-home{
    display: flex;
}

#frame-home{
    border: 2.5rem;
}

#content-home{
    background-color: white;
    width: 45rem;
    height: 33rem;
    padding: 2rem;
    margin: 5rem 0 0 10rem;
}

#content-home h1{
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 4.5rem;
    color: var(--primary-color);
}

#content-home p{
    flex-wrap: wrap;
    font-size: 1.2rem;
    color: var(--text-second-color);
    margin-top: 1.8rem;
}

#content-home h2{
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--text-primary-color);
    margin-bottom: 0.5rem;
}

#content-home-download{
    margin-top: 5.2rem;
}